# Exercise 03 - Columnar Vs Row Storage

- The columnar storage extension used here: 
    - cstore_fdw by citus_data [https://github.com/citusdata/cstore_fdw](https://github.com/citusdata/cstore_fdw)
- The data tables are the ones used by citus_data to show the storage extension

In [2]:
%load_ext sql

## STEP 0 : Connect to the local database where Pagila is loaded

### Create the database

In [3]:
!sudo -u postgres psql -c 'CREATE DATABASE reviews;'

!wget http://examples.citusdata.com/customer_reviews_1998.csv.gz
!wget http://examples.citusdata.com/customer_reviews_1999.csv.gz

!gzip -d customer_reviews_1998.csv.gz 
!gzip -d customer_reviews_1999.csv.gz 

!mkdir tmp
!mv customer_reviews_1998.csv /tmp/customer_reviews_1998.csv
!mv customer_reviews_1999.csv /tmp/customer_reviews_1999.csv

CREATE DATABASE
--2020-05-05 17:49:28--  http://examples.citusdata.com/customer_reviews_1998.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.26.14.56, 104.26.15.56, 2606:4700:20::681a:e38, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.26.14.56|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://examples.citusdata.com/customer_reviews_1998.csv.gz [following]
--2020-05-05 17:49:28--  https://examples.citusdata.com/customer_reviews_1998.csv.gz
Connecting to examples.citusdata.com (examples.citusdata.com)|104.26.14.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24774482 (24M) [application/x-gzip]
Saving to: ‘customer_reviews_1998.csv.gz’

customer_reviews_19 100%[===================>]  23.63M  42.9MB/s    in 0.6s

2020-05-05 17:49:29 (42.9 MB/s) - ‘customer_reviews_1998.csv.gz’ saved [24774482/24774482]

URL transformed to HTTPS due to an HSTS policy
--2020-05-05 17:49:30--  https://examples.citusdata.com/customer_reviews_1999.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.26.14.56, 104.26.15.56, 2606:4700:20::681a:e38, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.26.14.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48996256 (47M) [application/x-gzip]
Saving to: ‘customer_reviews_1999.csv.gz’

customer_reviews_19 100%[===================>]  46.73M  51.1MB/s    in 0.9s

2020-05-05 17:49:31 (51.1 MB/s) - ‘customer_reviews_1999.csv.gz’ saved [48996256/48996256]

mkdir: cannot create directory ‘tmp’: File exists

### Connect to the database

In [4]:
DB_ENDPOINT = "127.0.0.1"
DB = 'reviews'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://student:student@127.0.0.1:5432/reviews

In [5]:
%sql $conn_string

'Connected: student@reviews'

## STEP 1 :  Create a table with a normal  (Row) storage & load data

**TODO:** Create a table called customer_reviews_row with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [6]:
%%sql
DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE IF NOT EXISTS customer_reviews_row
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [7]:
%%sql 
COPY customer_reviews_row(customer_id, review_date, review_rating, review_votes,
                          review_helpful_votes, product_id, product_title, product_sales_rank,
                          product_group, product_category, product_subcategory, similar_product_ids)
    FROM '/tmp/customer_reviews_1998.csv' DELIMITER ',' CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.

[]

In [8]:
%%sql
COPY customer_reviews_row(customer_id, review_date, review_rating, review_votes,
                          review_helpful_votes, product_id, product_title, product_sales_rank,
                          product_group, product_category, product_subcategory, similar_product_ids)
    FROM '/tmp/customer_reviews_1999.csv' DELIMITER ',' CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
1172645 rows affected.

[]

## STEP 2 :  Create a table with columnar storage & load data

First, load the extension to use columnar storage in Postgres.

In [9]:
%%sql

-- load extension first time after install
CREATE EXTENSION cstore_fdw;

-- create server object
CREATE SERVER cstore_server FOREIGN DATA WRAPPER cstore_fdw;

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Create a `FOREIGN TABLE` called `customer_reviews_col` with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [10]:
%%sql
-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

-------------
CREATE FOREIGN TABLE customer_reviews_col
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)

-------------
-- leave code below as is
SERVER cstore_server
OPTIONS(compression 'pglz');

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [11]:
%%sql 
COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_col FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## Step 3: Compare perfromamce

Now run the same query on the two tables and compare the run time. Which form of storage is more performant?

**TODO**: Write a query that calculates the average `review_rating` by `product_title` for all reviews in 1995. Sort the data by `review_rating` in descending order. Limit the results to 20.

First run the query on `customer_reviews_row`:

In [14]:
%%time
%%sql

SELECT product_title, avg(review_rating) as average_rating
FROM customer_reviews_row
group by product_title
limit 20
;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 3.94 ms, sys: 0 ns, total: 3.94 ms
Wall time: 1.18 s

[("The King of Vinland's Saga", Decimal('4.8125000000000000')),
 ('Roll Over and Play Dead ', Decimal('2.0000000000000000')),
 ("Ed Emberley's Great Thumbprint Drawing Book", Decimal('5.0000000000000000')),
 ('Healing Your Aloneness ', Decimal('5.0000000000000000')),
 ('Desert Giant', Decimal('5.0000000000000000')),
 ('Wounded in the House of a Friend', Decimal('5.0000000000000000')),
 ('Gotta Mind to Travel', Decimal('5.0000000000000000')),
 ('The Good Vibrations Guide to Sex', Decimal('4.5714285714285714')),
 ("1930'S Scrapbook", Decimal('5.0000000000000000')),
 ('Babylonians (Peoples of the Past)', Decimal('5.0000000000000000')),
 ('Great Songs of the Sixties, Vol. 1', Decimal('5.0000000000000000')),
 ('Terminal Identity', Decimal('5.0000000000000000')),
 ('Foreign Dialects', Decimal('5.0000000000000000')),
 ('Fred Couples', Decimal('4.8000000000000000')),
 ('You Can Win!', Decimal('5.0000000000000000')),
 ("Doctor Zhivago (Everyman's Library (Cloth))", Decimal('4.0000000000000000')),
 ('The British Army 1914-18 (Men at Arms Series 81)', Decimal('3.0000000000000000')),
 ('Sister to Sister', Decimal('5.0000000000000000')),
 ('Body and Soul', Decimal('4.4358974358974359')),
 ('Relationship Selling', Decimal('5.0000000000000000'))]

 Then on `customer_reviews_col`:

In [15]:
%%time
%%sql

SELECT product_title, avg(review_rating) as average_rating
FROM customer_reviews_col
group by product_title
limit 20
;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 3.59 ms, sys: 0 ns, total: 3.59 ms
Wall time: 1.13 s

[("The King of Vinland's Saga", Decimal('4.8125000000000000')),
 ('Roll Over and Play Dead ', Decimal('2.0000000000000000')),
 ("Ed Emberley's Great Thumbprint Drawing Book", Decimal('5.0000000000000000')),
 ('Healing Your Aloneness ', Decimal('5.0000000000000000')),
 ('Desert Giant', Decimal('5.0000000000000000')),
 ('Wounded in the House of a Friend', Decimal('5.0000000000000000')),
 ('Gotta Mind to Travel', Decimal('5.0000000000000000')),
 ('The Good Vibrations Guide to Sex', Decimal('4.5714285714285714')),
 ("1930'S Scrapbook", Decimal('5.0000000000000000')),
 ('Babylonians (Peoples of the Past)', Decimal('5.0000000000000000')),
 ('Great Songs of the Sixties, Vol. 1', Decimal('5.0000000000000000')),
 ('Terminal Identity', Decimal('5.0000000000000000')),
 ('Foreign Dialects', Decimal('5.0000000000000000')),
 ('Fred Couples', Decimal('4.8000000000000000')),
 ('You Can Win!', Decimal('5.0000000000000000')),
 ("Doctor Zhivago (Everyman's Library (Cloth))", Decimal('4.0000000000000000')),
 ('The British Army 1914-18 (Men at Arms Series 81)', Decimal('3.0000000000000000')),
 ('Sister to Sister', Decimal('5.0000000000000000')),
 ('Body and Soul', Decimal('4.4358974358974359')),
 ('Relationship Selling', Decimal('5.0000000000000000'))]

## Conclusion: We can see that the columnar storage is faster!