# ETL Pipeline for Pre-Processing Sparkify's data

In [1]:
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [4]:
# current working directory
print(os.getcwd())

filepath = os.getcwd() + '/event_data'

for root, dirs, files in os.walk(filepath):
    file_path_list = glob.glob(os.path.join(root,'*'))

/home/workspace

In [5]:
len(file_path_list)

30

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [6]:
full_data_rows_list = [] 
    
for f in file_path_list:
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        csvreader = csv.reader(csvfile)
        next(csvreader) # skipping headers
        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            

csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [7]:
len(full_data_rows_list)

8056

In [8]:
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print("Total number of rows in csv file: {}".format(sum(1 for line in f)))

Total number of rows in csv file: 6821

#### How data look like:

In [9]:
df = pd.read_csv("event_datafile_new.csv")
df.head()

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
0,Stephen Lynch,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",829,Jim Henson's Dead,91
1,Manowar,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",1049,Shell Shock,73
2,Morcheeba,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",1049,Women Lose Weight (Feat: Slick Rick),73
3,Maroon 5,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",1049,Won't Go Home Without You,73
4,Train,Jacob,M,3,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",1049,Hey_ Soul Sister,73

## Apache Cassandra

#### Creating a Cluster

In [10]:
from cassandra.cluster import Cluster
cluster = Cluster()

session = cluster.connect()

#### Create Keyspace

In [11]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkify_analytics 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Setting Keyspace

In [12]:
try:
    session.set_keyspace('sparkify_analytics')
except Exception as e:
    print(e)

#### 1. Selecting song title and song's length in the data history that was heard during  sessionId = 338, and itemInSession  = 4

The obvious choice for the PK of this table is a Composite Key, made up by __sessionId__ and __itemInSession__.

In [14]:
query = "CREATE TABLE IF NOT EXISTS event_table1 "
query += """(artist text, song_title text, lenght float, \
             itemInSession int, sessionId int, \
            PRIMARY KEY (sessionId, itemInSession))"""

try:
    session.execute(query)
except Exception as e:
    print(e)

In [15]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO event_table1 "
        query += """(artist, song_title, lenght, \
                     itemInSession, sessionId) """
        query += """VALUES (%s, %s, %s, %s, %s)"""
        
        session.execute(query, (line[0], line[9], float(line[5]), \
                                int(line[3]), int(line[8])))

#### Test 1

In [16]:
query = "select artist, song_title, lenght from event_table1 where sessionid=338 and iteminsession=4;"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

print()
for row in rows:
    print(row.artist, '--', row.song_title, '--', row.lenght)
    
print()

Faithless -- Music Matters (Mark Knight Dub) -- 495.30731201171875

#### 2. Selecting name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In this case, Sparkify analysts want to query the table on userId and sessionId, in order to have the data order by the feature itemInSession, it is the best candidated for being our Clustering Key.

In [18]:
query = "CREATE TABLE IF NOT EXISTS event_table2 "
query += """(artist text, song_title text, userId int, usr_first_name text, \
            usr_last_name text, itemInSession int, sessionId int, \
            PRIMARY KEY ((userId, sessionId), itemInSession));"""

try:
    session.execute(query)
except Exception as e:
    print(e)

In [19]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO event_table2 "
        query += """(artist, song_title, userId, usr_first_name, \
                        usr_last_name, itemInSession, sessionId) """
        query += """VALUES (%s, %s, %s, %s, %s, %s, %s)"""
        
        session.execute(query, (line[0], line[9], int(line[10]), \
                                line[1], line[4], int(line[3]), int(line[8])))

#### Test 2

In [20]:
query = "select artist, song_title, usr_first_name, usr_last_name, itemInSession \
            from event_table2 where userId=10 and sessionId=182;"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

print()
for row in rows:
    print(row.artist, '--', row.song_title, '--', row.usr_first_name, row.usr_last_name)
    
print()

Down To The Bone -- Keep On Keepin' On -- Sylvie Cruz
Three Drives -- Greece 2000 -- Sylvie Cruz
Sebastien Tellier -- Kilometer -- Sylvie Cruz
Lonnie Gordon -- Catch You Baby (Steve Pitron & Max Sanna Radio Edit) -- Sylvie Cruz

#### 3. Selecting user name (first and last) in the data history who listened to the song 'All Hands Against His Own'.

Since we want to _uniquely identify_ every row of our table and we need to query it on __song_title__, our PK will be a composite key made by __song_title__ and __userId__.

In [22]:
query = "CREATE TABLE IF NOT EXISTS event_table3 "
query += """(song_title text, userId int, sessionId int, usr_first_name text, usr_last_name text, \
                PRIMARY KEY (song_title, userId));"""

try:
    session.execute(query)
except Exception as e:
    print(e)

In [23]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO event_table3 "
        query += """(song_title, userId, sessionId, usr_first_name, usr_last_name) """
        query += """VALUES (%s, %s, %s, %s, %s)"""
        
        session.execute(query, (line[9], int(line[8]), int(line[10]), line[1], line[4]))

#### Test 3

In [33]:
query = "select userId, usr_first_name, usr_last_name  \
        from event_table3 \
        where song_title = 'All Hands Against His Own' ;"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

print()
for row in rows:
    print(row.usr_first_name, row.usr_last_name)
    
print()

Sara Johnson
Jacqueline Lynch
Tegan Levine

#### Dropping tables and closing session.

In [ ]:
session.execute("DROP TABLE IF EXISTS event_table1;")
session.execute("DROP TABLE IF EXISTS event_table2;")
session.execute("DROP TABLE IF EXISTS event_table3;")

In [ ]:
session.shutdown()
cluster.shutdown()